header {
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 30px;
    padding: 20%;
}


.nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.navItem {
    display: inline-block;
    padding: 10px 20px;
}
.navItem a {
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


body {
    margin: 0;
}
.heroImg {
    height: 80px;
    padding: 2%;
}
.content {
    width: 500px;
    margin: 0 auto;
}


.flexContainer {
    display: flex;
}
.mySkills {
    padding-top: 700px;
    margin: 5%;
}
.mySkills div {
    width: 50%;
}
.mySkills img {
    width: 40px;
}


.workGrid {
    display: grid;
}
.myWork {
    margin: 5%;
}
.myWork img {
    width: 80px;
}


footer {
    padding-top: 100px;
    text-align: center;
}
.footerUl {
    display: inline-block flex;
    padding: 10%;
    vertical-align: top;
}
.footerItem {
    text-decoration: none;
    list-style: none;
}


@media only screen and (max-width: 600) {
    
}