body {
    margin: 0;
}
header {
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 30px;
    padding: 20%;
}
.nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.navItem {
    display: inline-block;
    padding: 10px 20px;
}
.inline-block {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
}

a {
    text-decoration: none;
}
.nav {
    padding: 1%;
}
.ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    background-color: #373738;
    padding: 10%;
}
.footerUl {
    display: inline-block;
    vertical-align: top;
    padding: 10%;
}
.class {
    background-image: url(../images/Logo.png);
}
.content img {
    width: 350px;
}