body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373738;
}

.logo {
    height: 30px;
}

.navItems{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navItem{
    display: inline-block;
}
.navItem a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    color: rgb(0, 26, 255);
    background-color: #afadad;
}


.heroImg {
    width: 350px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    background-color: #373738;
    padding: 10%;
}
.footerUl {
    display: inline-block;
    vertical-align: top;
    padding: 10%;
}